.shenpi-start {
  min-height: 100%;
  padding: 0 px2rem(30);
  background-color: #f9f8f8;
  // background-color: red;

  .action {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: px2rem(52) px2rem(30);
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: px2rem(160);
    height: px2rem(84);
    line-height: 1;
    color: #A0A0A0;
    font-size: px2rem(32);
    border-radius: px2rem(50);
    background-color: #EBEEF2;
  }
  .btn-active {
    color: #565656;
    border: px2rem(2) solid #147AFF;
  }
  .btn-long {
    display: flex;
    justify-content: center;
    align-items: center;
    width: px2rem(690);
    height: px2rem(100);
    color: white;
    font-size: px2rem(36);
    background-color: #570CEC;
    border-radius: px2rem(50);
    box-shadow: 0 2px 11px 0 rgba(155,126,211,0.50);
  }
}